.home--root {
  height: 100vh !important;
}
.home--background {
  background-position: 100% 50% !important;
}
.home--tint {
  background: black;
  height: 100vh;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 100%;
}
.home--shadow {
  text-shadow: 1px 1px rgba(0,0,0,0.25);
}
@media all and (max-width: 768px) {
  .home--background {
    background-position: 85% 50% !important
  }
}
