.home--root {
  height: 100vh !important;
}
.home--background {
  background-position: 100% 50% !important;
}
.home--tint {
  background: linear-gradient(80deg, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
  height: 100vh;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
}
.home--shadow {
  font-family: 'Kanit', sans-serif;
  text-shadow: 2px 2px rgba(0,0,0,0.15);
  max-width: 40rem;
}
@media all and (max-width: 768px) {
  .home--background {
    background-position: 85% 50% !important
  }
}
