@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import "../Variables.sass";

$headerHeight: 10rem;
$navWidth: 17.5rem;
$navLeftMargin: 2.5rem;

body {
  font-family: 'Nanum Gothic', sans-serif;
}

.root--container {
  display: flex;

  main {
    display: flex;
    transition: all 0.45s ease-in-out;
    padding: 2rem;
    width: 100vw;
  }
  header {
    display: flex;
    align-items: flex-end;
    background: $base-color;
    color: $light-color;
    height: $headerHeight;
    position: fixed;
    transform: translateY(-$headerHeight);
    transition: transform 0.45s ease-in-out;
    width: 100%;
    padding-left: $navLeftMargin;
  }
  nav {
    display: flex;
    flex-direction: column;
    background: $base-color;
    color: $light-color;
    height: 100vh;
    position: fixed;
    transform: translateX(-$navWidth);
    transition: transform 0.45s ease-in-out;
    width: $navWidth - $navLeftMargin;
    padding-top: 3rem;
    padding-left: $navLeftMargin;
    .nav--logo {
      text-decoration: none;
      transition: opacity 0.25s ease-in-out;
      svg {
        width: 6rem;
        height: 6rem;
      }
      &:hover {
        text-decoration: none;
        opacity: 0.8;
      }
      .nav--title {
        color: $light-color;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: 0.1rem;    
        margin: 1rem 0rem;  
      }
    }
    .nav--divider {
      display: block;
      background: $light-color;
      width: 5rem;
      height: 0.6rem;
      margin-bottom: 2rem;
    }
    .nav--list {
      list-style: none;
      padding-left: 0;
      li {
        margin: 1rem 0;
      }
      a {
        font-size: 1.75rem;
        color: $light-color;
        text-decoration: none;
        &:hover {
          color: rgba(255, 255, 255, 0.8)
        }
      }
    }
    .nav--footer {
      position: absolute;
      bottom: 4rem;
      list-style: none;
      padding-left: 0;
      li {
        margin: 0.75rem 0;
      }
      a {
        font-size: 0.75rem;
        color: $light-color;
        text-decoration: none;
        &:hover {
          color: rgba(255, 255, 255, 0.8)
        }
      }
    }
  }
  &.expanded {
    header {
      transform: translateY(0);
    }
    nav {
      transform: translateX(0);
    }
    main {
      margin-left: $navWidth;
      margin-top: $headerHeight;
      width: calc(100vw - $navWidth);
    }
  }
}