body {
  font-family: "Catamaran", "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  color: #222;
  cursor: default;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
}
a {
  color: #222;
  text-decoration: underline;
}
.display-calendar .calendar {
  display: block !important;
}
