.calendar {
  display: none;
  position: absolute;
  height: 850px;
  right: 0;
  left: 40%;
  bottom: 0;
}
.calendar iframe {
  border: 0;
}
.calendar iframe .branding {
  display: none;
}
.calendar .branding {
  position: absolute;
  height: 175px;
  z-index: 2;
  background: #FFFFFF;
  top: 0;
  right: 0;
  left: 0;
}
.calendar .branding .badge {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  width: 130px;
  height: 130px;
  display: block;
  box-sizing: border-box;
  padding: 95px 0 5px 0;
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  background-color: #ffffff;
  color: #fff;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: rotate(45deg) translate(35%, -86%);
  transform: rotate(45deg) translate(35%, -86%);
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
@media only screen and (max-width : 1500px) {
  .calendar {
    height: 80%
  }
}
@media only screen and (max-width : 400px) {
  .display-calendar .container.profile {
    position: relative;
    margin-top: 50px;
  }
  .calendar {
    position: relative;
    width: 100%;
    right: 0;
    left: 0;
    top: -150px;
    height: 1000px;
  }
}
