#DSECTION_1 {
    bottom: 0px;
    height: 815px;
    left: 0px;
    position: relative;
    right: 0px;
    text-size-adjust: 100%;
    top: 0px;
    width: 1676px;
    perspective-origin: 838px 407.5px;
    transform-origin: 838px 407.5px;
    font: normal normal normal normal 16px / normal proxima-nova, Helvetica, Avenir, Arial, sans-serif;
    margin: 130px 0px 0px;
}/*#DSECTION_1*/

#DARTICLE_2 {
    bottom: 0px;
    height: 815px;
    left: 0px;
    position: relative;
    right: 0px;
    text-size-adjust: 100%;
    top: 0px;
    width: 1676px;
    perspective-origin: 838px 407.5px;
    transform-origin: 838px 407.5px;
    font: normal normal normal normal 16px / normal proxima-nova, Helvetica, Avenir, Arial, sans-serif;
    margin: 0px 0px 30px;
}/*#DARTICLE_2*/

#DTIME_3 {
    color: rgb(29, 29, 29);
    display: block;
    height: 18px;
    max-width: 600px;
    opacity: 0.05;
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 600px;
    column-rule-color: rgb(29, 29, 29);
    perspective-origin: 300px 9px;
    transform-origin: 300px 9px;
    border: 0px none rgb(29, 29, 29);
    font: normal normal bold normal 14px / normal freight-sans-pro, proxima-nova, Helvetica;
    margin: 0px 538px 5px;
    outline: rgb(29, 29, 29) none 0px;
    transition: all 0.5s cubic-bezier(0.165, 0.63, 0.14, 0.82) 0s;
}/*#DTIME_3*/

#DH1_4 {
    height: 132px;
    max-width: 600px;
    text-size-adjust: 100%;
    width: 600px;
    perspective-origin: 310px 66px;
    transform-origin: 310px 66px;
    font: normal normal bold normal 43px / 44px freight-sans-pro, proxima-nova, Helvetica;
    margin: 0px 528px 25px;
    padding: 0px 10px;
}/*#DH1_4*/

#DA_5 {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-size-adjust: 100%;
    column-rule-color: rgb(0, 0, 0);
    border: 0px none rgb(0, 0, 0);
    font: normal normal bold normal 43px / 44px freight-sans-pro, Helvetica, Avenir, Arial, sans-serif;
    outline: rgb(0, 0, 0) none 0px;
    transition: all 0.2s cubic-bezier(0.165, 0.63, 0.14, 0.82) 0s;
}/*#DA_5*/

#DP_6, #DP_8 {
    color: rgb(77, 77, 77);
    height: 27px;
    max-width: 600px;
    text-size-adjust: 100%;
    width: 600px;
    column-rule-color: rgb(77, 77, 77);
    perspective-origin: 310px 13.5px;
    transform-origin: 310px 13.5px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal normal normal 18px / 27px proxima-nova, Helvetica, Avenir, Arial, sans-serif;
    margin: 20px 528px;
    outline: rgb(77, 77, 77) none 0px;
    padding: 0px 10px;
}/*#DP_6, #DP_8*/

#DP_7, #DP_13 {
    color: rgb(77, 77, 77);
    height: 54px;
    max-width: 600px;
    text-size-adjust: 100%;
    width: 600px;
    column-rule-color: rgb(77, 77, 77);
    perspective-origin: 310px 27px;
    transform-origin: 310px 27px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal normal normal 18px / 27px proxima-nova, Helvetica, Avenir, Arial, sans-serif;
    margin: 20px 528px;
    outline: rgb(77, 77, 77) none 0px;
    padding: 0px 10px;
}/*#DP_7, #DP_13*/

#DI_9 {
    color: rgb(77, 77, 77);
    text-size-adjust: 100%;
    column-rule-color: rgb(77, 77, 77);
    border: 0px none rgb(77, 77, 77);
    font: italic normal normal normal 18px / 27px proxima-nova, Helvetica, Avenir, Arial, sans-serif;
    outline: rgb(77, 77, 77) none 0px;
}/*#DI_9*/

#DP_10, #DP_11 {
    color: rgb(77, 77, 77);
    height: 81px;
    max-width: 600px;
    text-size-adjust: 100%;
    width: 600px;
    column-rule-color: rgb(77, 77, 77);
    perspective-origin: 310px 40.5px;
    transform-origin: 310px 40.5px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal normal normal 18px / 27px proxima-nova, Helvetica, Avenir, Arial, sans-serif;
    margin: 20px 528px;
    outline: rgb(77, 77, 77) none 0px;
    padding: 0px 10px;
}/*#DP_10, #DP_11*/

#DP_12 {
    color: rgb(77, 77, 77);
    height: 81px;
    max-width: 600px;
    text-size-adjust: 100%;
    width: 600px;
    column-rule-color: rgb(77, 77, 77);
    perspective-origin: 310px 40.5px;
    transform-origin: 310px 40.5px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal normal normal 18px / 27px proxima-nova, Helvetica, Avenir, Arial, sans-serif;
    margin: 20px 528px;
    outline: rgb(77, 77, 77) none 0px;
    padding: 0px 10px;
}/*#DP_12*/

#DFIGURE_14 {
    bottom: 0px;
    height: 90px;
    left: 0px;
    max-width: 600px;
    min-height: 90px;
    position: relative;
    right: 0px;
    text-size-adjust: 100%;
    top: 0px;
    width: 600px;
    perspective-origin: 307.5px 45px;
    transform-origin: 307.5px 45px;
    border-radius: 100% 100% 100% 100%;
    font: normal normal normal normal 16px / normal proxima-nova, Helvetica, Avenir, Arial, sans-serif;
    margin: 0px 530.5px;
    padding: 0px 0px 0px 15px;
}/*#DFIGURE_14*/

#DA_15 {
    bottom: -3px;
    color: rgb(51, 51, 51);
    cursor: default;
    display: block;
    float: left;
    height: 48px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none;
    text-size-adjust: 100%;
    top: 3px;
    width: 48px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 27px 27px;
    transform-origin: 27px 27px;
    background: rgba(255, 255, 255, 0.0980392) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 100% 100% 100% 100%;
    font: normal normal normal normal 16px / normal proxima-nova, Helvetica, Avenir, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    transition: border-color 1s ease-in 0s;
}/*#DA_15*/

#DDIV_16 {
    background-position: 50% 50%;
    bottom: 3px;
    color: rgb(51, 51, 51);
    cursor: default;
    height: 42px;
    left: 3px;
    position: absolute;
    right: 3px;
    text-size-adjust: 100%;
    top: 3px;
    width: 42px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 21px 21px;
    transform: matrix(0.3, 0, 0, 0.3, 0, 0);
    transform-origin: 21px 21px;
    background: rgb(0, 0, 0) none no-repeat scroll 50% 50% / 100% padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    border-radius: 100% 100% 100% 100%;
    font: normal normal normal normal 16px / normal proxima-nova, Helvetica, Avenir, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    transition: background-color 1s ease-out 0s, transform 1s ease-out 0s, -moz-transform 1s ease-out 0s, -webkit-transform 1s ease-out 0s, background 1s ease-out 0s, background-image 1s ease-out 0s;
}/*#DDIV_16*/

#DDIV_17 {
    float: left;
    height: 60px;
    text-size-adjust: 100%;
    width: 12.6406px;
    perspective-origin: 16.3125px 30px;
    transform-origin: 16.3125px 30px;
    font: normal normal bold normal 22px / 60px freight-sans-pro, sans-serif;
    padding: 0px 8px 0px 12px;
}/*#DDIV_17*/

#DDIV_18 {
    float: left;
    height: 66px;
    letter-spacing: 1px;
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 44.0938px;
    perspective-origin: 22.0469px 33px;
    transform-origin: 22.0469px 33px;
    font: normal normal bold normal 12px / 66px freight-sans-pro, sans-serif;
}/*#DDIV_18*/

#DFIGURE_19 {
    bottom: 5px;
    height: 90px;
    left: 1711px;
    max-width: 600px;
    min-height: 90px;
    min-width: 50px;
    position: fixed;
    right: -100px;
    text-size-adjust: 100%;
    top: 171px;
    width: 50px;
    z-index: 9998;
    perspective-origin: 32.5px 45px;
    transform: matrix(0.8, 0, 0, 0.8, 0, 0);
    transform-origin: 32.5px 45px;
    font: normal normal normal normal 16px / normal proxima-nova, Helvetica, Avenir, Arial, sans-serif;
    margin: 0px;
    padding: 0px 0px 0px 15px;
    transition: opacity 0.5s cubic-bezier(0.165, 0.63, 0.14, 0.82) 0s, transform 0.5s cubic-bezier(0.165, 0.63, 0.14, 0.82) 0s;
}/*#DFIGURE_19*/

#DA_20 {
    bottom: -3px;
    color: rgb(51, 51, 51);
    cursor: default;
    display: block;
    float: left;
    height: 40px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none;
    text-size-adjust: 100%;
    top: 3px;
    width: 40px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 23px 23px;
    transform-origin: 23px 23px;
    background: rgba(255, 255, 255, 0.0980392) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 100% 100% 100% 100%;
    font: normal normal normal normal 16px / normal proxima-nova, Helvetica, Avenir, Arial, sans-serif;
    margin: 0px 0px 3px;
    outline: rgb(51, 51, 51) none 0px;
    transition: border-color 1s ease-in 0s;
}/*#DA_20*/

#DDIV_21 {
    background-position: 50% 50%;
    bottom: 3px;
    color: rgb(51, 51, 51);
    cursor: default;
    height: 34px;
    left: 3px;
    position: absolute;
    right: 3px;
    text-size-adjust: 100%;
    top: 3px;
    width: 34px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 17px 17px;
    transform: matrix(0.3, 0, 0, 0.3, 0, 0);
    transform-origin: 17px 17px;
    background: rgb(0, 0, 0) none no-repeat scroll 50% 50% / 100% padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    border-radius: 100% 100% 100% 100%;
    font: normal normal normal normal 16px / normal proxima-nova, Helvetica, Avenir, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    transition: background-color 1s ease-out 0s, transform 1s ease-out 0s, -moz-transform 1s ease-out 0s, -webkit-transform 1s ease-out 0s, background 1s ease-out 0s, background-image 1s ease-out 0s;
}/*#DDIV_21*/

#DDIV_22 {
    height: 74px;
    text-align: center;
    text-size-adjust: 100%;
    width: 50px;
    perspective-origin: 25px 37px;
    transform-origin: 25px 37px;
    font: normal normal bold normal 20px / 25px freight-sans-pro, sans-serif;
}/*#DDIV_22*/

#DDIV_23 {
    height: 11px;
    letter-spacing: 1px;
    text-align: center;
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 50px;
    perspective-origin: 25px 5.5px;
    transform-origin: 25px 5.5px;
    font: normal normal bold normal 12px / 11px freight-sans-pro, sans-serif;
}/*#DDIV_23*/
